@import "tailwindcss";

:root {
  --background: #090909;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-delaGothicOne: var(--font-dela-gothic-one);
  --font-generalSans: var(--font-general-sans);
  --font-sansation: var(--font-sansation);
  --font-notoSans: var(--font-noto-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
